body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:black;
  background-color: #ede8df;
  margin: 0%;
}


#titulo{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#9032bb ;
  text-decoration: none;
  font-size: 50px;  
  position: absolute;
  margin-top: 260px;
  font-weight: bolder; 
  padding: 15px;  
}

#objetivo{
  padding: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  text-align: justify;
  padding: 20px; 
}

.texto_pie{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    font-size: 15px;
    margin: 15px 10px 50px 50px;
    padding: 0px;
    position: relative;
    left: 7px;
}

.texto2_pie{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:black;
  font-size: 15px;
  margin: 15px;
  padding: 0px;
  position: relative;
  left: 7px;
}


#Pie{
    background-color:#d9d9d9;
    width: 100%;
    height:170px;
    grid-template-columns: 250px 350px 350px 250px;
    display: grid;
    position: relative;
    top: 1000px;
}


#STEM1{
  padding: 10px;
  text-align: justify;
  padding: 20px;
}

#subdivision{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: justify;
}

#ICP1{
  padding: 20px;
}

#TIT{
  padding: 20px;
}

.mapadiv{
  width: 20%;
  margin: 0px -605px -30px;
}

.mapadiv path{
  fill: #ffe7cc;
  stroke: #d76ce6;
  stroke-width: 1px;
}

.mapadiv  :hover{
  fill: #d76ce6;
}

#S{
  fill: orangered
}

#T{
  fill: limegreen
}

#E{
  fill: lightseagreen
}

#M{
  fill: purple
}

.hide{
  background-color: #fafafa;
  border-radius: 30px;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  padding: 5px 10px;
  border: 1px solid #d76ce6;
  font-size: 12px;
}

.n1-txt{
  top: 31%;
  left: 8%;
} 

.n2-txt{
  top: 29%;
  left: 8%;
} 

.n3-txt{
  top: 32%;
  left: 8%;
} 

.n4-txt{
  top: 35%;
  left: 8%;
} 

.n5-txt{
  top: 8%;
  left: 11.5%;
} 

.n6-txt{
  top: 2%;
  left: 11%;
} 

.n7-txt{
  top: 37%;
  left: 8%;
} 

.n8-txt{
  top: 30%;
  left: 8%;
} 

.n9-txt{
  top: 82%;
  left: 8%;
} 

.n10-txt{
  top: 30.5%;
  left: 8%;
} 

.n11-txt{
  top: 30%;
  left: 8%;
} 

.n12-txt{
  top: 35%;
  left: 8%;
} 

.n13-txt{
  top: 30%;
  left: 8%;
} 

.n14-txt{
  top: 32%;
  left: 8%;
} 

.n15-txt{
  top: 85%;
  left: 11%;
} 

.n16-txt{
  top: 32%;
  left: 8%;
} 

.n17-txt{
  top: 26%;
  left: 8%;
} 

.n18-txt{
  top: 30%;
  left: 8%;
} 

.n19-txt{
  top: 32%;
  left: 8%;
} 

.n20-txt{
  top: 21%;
  left: 9.3%;
} 

.n21-txt{
  top: 8.6%;
  left: 11%;
} 

.n22-txt{
  top: 32%;
  left: 8%;
} 

.n23-txt{
  top: 50%;
  left: 6%;
} 

.n24-txt{
  top: 32%;
  left: 8%;
} 

.n25-txt{
  top: 33%;
  left: 8%;
} 

.n26-txt{
  top: 15%;
  left: 10%;
} 

.n27-txt{
  top: 33%;
  left: 8%;
} 

.n28-txt{
  top: 40%;
  left: 8%;
} 

.n29-txt{
  top: 17%;
  left: 10%;
} 

.n30-txt{
  top: 32%;
  left: 8%;
} 

.n31-txt{
  top: 8%;
  left: 11%;
} 

.n32-txt{
  top: 30%;
  left: 8%;
} 

.n33-txt{
  top: 60%;
  left: 7%;
} 

.n34-txt{
  top: 32%;
  left: 8%;
} 

.n35-txt{
  top: 32%;
  left: 8%;
} 

.n36-txt{
  top: 33%;
  left: 8%;
} 

.n37-txt{
  top: 32%;
  left: 8%;
} 

.n38-txt{
  top: 40%;
  left: 7.5%;
} 

.n39-txt{
  top: 32.2%;
  left: 8%;
} 

.n40-txt{
  top: 32%;
  left: 8%;
} 

.n41-txt{
  top: 32%;
  left: 8%;
} 

.n42-txt{
  top: 32%;
  left: 8%;
} 

.n43-txt{
  top: 32%;
  left: 8%;
} 

.n44-txt{
  top: 32%;
  left: 8%;
} 

.n45-txt{
  top: 31.9%;
  left: 8%;
} 

.n46-txt{
  top: 32.2%;
  left: 8%;
} 

.n47-txt{
  top: 32%;
  left: 8%;
} 

.n48-txt{
  top: 32%;
  left: 8%;
} 

.n49-txt{
  top: 32%;
  left: 8%;
} 

.n50-txt{
  top: 32%;
  left: 8%;
} 

.n51-txt{
  top: 41%;
  left: 7.5%;
} 

.n52-txt{
  top: 32%;
  left: 8%;
} 

.n53-txt{
  top: 32%;
  left: 8%;
} 

.n54-txt{
  top: 25%;
  left: 8%;
} 

.n55-txt{
  top: 32%;
  left: 7.9%;
} 

.n56-txt{
  top: 32.4%;
  left: 8%;
} 

.n57-txt{
  top: 32.4%;
  left: 8%;
} 

.n58-txt{
  top: 50%;
  left: 6.4%;
} 

.n59-txt{
  top: 27%;
  left: 8%;
} 

.n60-txt{
  top: 40%;
  left: 8%;
} 

.n61-txt{
  top: 31.8%;
  left: 8%;
} 

.n62-txt{
  top: 32.3%;
  left: 8%;
} 

.n63-txt{
  top: 85%;
  left: 10%;
} 

.n64-txt{
  top: 32%;
  left: 8%;
} 

.n65-txt{
  top: 31.8%;
  left: 8%;
} 

.n66-txt{
  top: 32.1%;
  left: 8%;
} 

.n67-txt{
  top: 18%;
  left: 9.5%;
} 

.n68-txt{
  top: 28%;
  left: 8%;
} 

.n69-txt{
  top: 28.4%;
  left: 8%;
} 

.n70-txt{
  top: 31.7%;
  left: 8%;
} 

.n71-txt{
  top: 27.6%;
  left: 8%;
} 

.n72-txt{
  top: 32.3%;
  left: 8%;
} 

.n73-txt{
  top: 32.5%;
  left: 8%;
} 

.n74-txt{
  top: 51%;
  left: 6%;
} 

.n75-txt{
  top: 32%;
  left: 8%;
} 

.boton1 {
  border: 20px solid orangered; /*anchura, estilo y color borde*/
  padding: 0px; /*espacio alrededor texto*/
  background-color: orangered; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
  margin-bottom: 20px;
  }


 
.boton2 {
  border: 20px solid limegreen; /*anchura, estilo y color borde*/
  padding: 0px; /*espacio alrededor texto*/
  background-color: limegreen; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
  margin-bottom: 20px;
  }
.boton3 {
  border: 20px solid lightseagreen; /*anchura, estilo y color borde*/
  padding: 0px; /*espacio alrededor texto*/
  background-color: lightseagreen; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
  margin-bottom: 20px;
  }

.boton4 {
  border: 20px solid purple; /*anchura, estilo y color borde*/
  padding: 0px; /*espacio alrededor texto*/
  background-color: purple; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
  margin-bottom: 20px;
  }

.boton5 {
  border: 7px solid rgb(213, 213, 213); /*anchura, estilo y color borde*/
  padding: 7px; /*espacio alrededor texto*/
  background-color: rgb(213, 213, 213); /*color botón*/
  color: #000000; /*color texto*/
  text-decoration: none; /*decoración texto*/
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*tipografía texto*/
  border-radius: 5px; /*bordes redondos*/
  }

.boton6 {
  border: 7px solid rgb(213, 213, 213); /*anchura, estilo y color borde*/
  padding: 7px; /*espacio alrededor texto*/
  background-color: rgb(213, 213, 213); /*color botón*/
  color: #000000; /*color texto*/
  text-decoration: none; /*decoración texto*/
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*tipografía texto*/
  border-radius: 5px; /*bordes redondos*/
  }

.boton7 {
  border: 7px solid rgb(213, 213, 213); /*anchura, estilo y color borde*/
  padding: 7px; /*espacio alrededor texto*/
  background-color: rgb(213, 213, 213); /*color botón*/
  color: #000000; /*color texto*/
  text-decoration: none; /*decoración texto*/
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*tipografía texto*/
  border-radius: 5px; /*bordes redondos*/
  }

.boton8 {
  border: 7px solid rgb(213, 213, 213); /*anchura, estilo y color borde*/
  padding: 7px; /*espacio alrededor texto*/
  background-color: rgb(213, 213, 213); /*color botón*/
  color: #000000; /*color texto*/
  text-decoration: none; /*decoración texto*/
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*tipografía texto*/
  border-radius: 5px; /*bordes redondos*/
  }


  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    
    /* The navigation menu links */
    .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #818181;
    display: block;
    transition: 0.3s;
    }
    
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
    color: #f1f1f1;
    }
    
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }
    
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
    transition: margin-left .5s;
    padding: 20px;
    }
    

#menu{
  border: 10px solid #111; /*anchura, estilo y color borde*/
  padding: 5px; /*espacio alrededor texto*/
  background-color: #111; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  font-size: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
  cursor: pointer;
  top: 10px;
  right: 0;
  position: fixed;
}

#PPAL{
  background-image: url(fondomujeres.JPG);
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  background-color: #00000065;
  height: 520px;
}


#textomyDIV{
  font-style: italic;
  margin: 0%;
  font-size: 20px;
}
#myDIV{
  text-align: justify;
  padding: 50px;
  background-color:#818181;
  font-size: 17px;
}



#textomyDIV2{
  font-style: italic;
  margin: 0%;
  font-size: 20px;
}
#myDIV2{
  text-align: justify;
  padding: 50px;
  background-color:#818181;
  font-size: 17px;
}

#textomyDIV3{
  font-style: italic;
  margin: 0%;
  font-size: 20px;
}
#myDIV3{
  text-align: justify;
  padding: 50px;
  background-color:#818181;
  font-size: 17px;
}

#textomyDIV4{
  font-style: italic;
  margin: 0%;
  font-size: 20px;
}
#myDIV4{
  text-align: justify;
  padding: 50px;
  background-color:#818181;
  font-size: 17px;
}

#botoncerrar{
  text-align: center;
}

#botones{
  text-align: center;
}