.texto_pie{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    font-size: 12px;
    margin: 20px;
    padding: 10px;
    position: relative;
    left: 35px;

}
#Pie{
    background-color:#d9d9d9;
    width: 1200px;
    height:170px;
    grid-template-columns: 250px 350px 350px 250px;
    display: grid;
    position: relative;
    top: 1000px;
}

*{margin:0;padding:0;box-sizing:border-box;font-size:0;}
            
nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    } 
    nav li{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    }
    nav li:hover{
    background-color:#fff;
    color:#000;
    }