#navbar {
    overflow: hidden;
    background-color: grey;
  }
  
  #navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0.8vw 1vw;
    text-decoration: none;
    font-size: 0.9vw;


    margin: 0px 3px;
    transition: background .25s ease-out;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0.8;


  }
  
  #navbar a:hover {
    opacity: 1;
    background-color: #e3ece9;
    color: black;
  }
  
  #navbar a.active {
    opacity: 1;
    background-color: #ff9852;
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  } 


.texto_pie{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    font-size: 12px;
    margin: 20px;
    padding: 10px;
    position: relative;
    left: 35px;

}
#Pie{
    background-color:#d9d9d9;
    width: 1200px;
    height:170px;
    grid-template-columns: 250px 350px 350px 250px;
    display: grid;
    position: relative;
    top: 1000px;
}

.indice{
    margin:0;padding:0;box-sizing:border-box;font-size:0;
    text-decoration:none;
    color:inherit;
    font-size:14px;
}

#pestañas{
    display:inline-block;
    width:100%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
}

.total{
    background-color: aqua;
}