body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #e2ece9;
}

#titulo{
  font-family: 'Trebuchet MS', sans-serif;
  color:#8D2E99 ;
}

#navbar {
    overflow: hidden;
    background-color: #8D2E99;
  }
  
  #navbar a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 0.5vw 11.7vw;
    text-decoration: none;
    font-size: 0.9vw;


    margin: 0px 3px;
    transition: background .25s ease-out;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 1;
  }
  
  #navbar a:hover {
    opacity: 1;
    background-color: #fafafa;
    color: black;
  }
  
  #navbar a.active {
    opacity: 1;
    background-color: #ff9852;
    color: white;
  }



.texto_pie{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    font-size: 12px;
    margin: 20px;
    padding: 10px;
    position: relative;
    left: 35px;

}
#Pie{
    background-color:#d9d9d9;
    width: 1430px;
    height:170px;
    grid-template-columns: 250px 350px 350px 250px;
    display: grid;
    position: relative;
    top: 1000px;
}

.indice{
    margin:0;padding:0;box-sizing:border-box;font-size:0;
    text-decoration:none;
    color:inherit;
    font-size:14px;
}

#pestañas{
    display:inline-block;
    width:100%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
}

.total{
    background-color: aqua;
}

#STEM1{
  padding: 10px;
  background-color: #d9d9d9;
}

#PDA1{
  padding: 10px;
  background-color: #d9d9d9;
}

#ICP1{
  padding: 10px;
  background-color: #d9d9d9;
}

#TASTEM1{
  padding: 10px;
  background-color: #d9d9d9;
}

#subdivision{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mapadiv{
  width: 80%;
  margin: 50px;
}

.mapadiv path{
  fill: #8D2E99;
  stroke: #d76ce6;
  stroke-width: 0.5px;
}

.mapadiv  :hover{
    fill: #d76ce6;
}