body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #686868;
}


#titulo{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#9032bb ;
}

#imagentitulo{
  margin: 10px 10px 20px 40px;
}


#letratitulo{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#9032bb ;
  font-size: 80px;
  margin: -140px 5px 20px 10px;
}




.texto_pie{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    font-size: 18px;
    margin: 15px;
    padding: 0px;
    position: relative;
    left: 7px;
}
.texto2_pie{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:black;
  font-size: 18px;
  margin: 15px;
  padding: 0px;
  position: relative;
  left: 7px;
}


#Pie{
    background-color:#d9d9d9;
    width: 100%;
    height:170px;
    grid-template-columns: 250px 350px 350px 250px;
    display: grid;
    position: relative;
    top: 1000px;
}

.indice{
    margin:0;padding:0;box-sizing:border-box;font-size:0;
    text-decoration:none;
    color:inherit;
    font-size:14px;
}

#pestañas{
    display:inline-block;
    width:100%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
}

.total{
    background-color: aqua;
}

#STEM1{
  padding: 20px;
}

#PDA1{
  padding: 10px;
  background-color: #393939;
}

#ICP1{
  padding: 10px;
  background-color: #e2ece9;
}


#subdivision{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mapadiv{
  width: 20%;
  margin: -5px -750px -30px;
}

.mapadiv path{
  fill: #c1c1cf;;
  stroke: #99729e;
  stroke-width: 0.5px;
}

.mapadiv  :hover{
    fill: #c9c7f8;
}

.boton1 {
  border: 20px solid orangered; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: orangered; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
  }


 
.boton2 {
  border: 20px solid limegreen; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: limegreen; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
  }
.boton3 {
  border: 20px solid lightseagreen; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: lightseagreen; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
  }

.boton4 {
  border: 20px solid purple; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: purple; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
  }

  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    
    /* The navigation menu links */
    .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #818181;
    display: block;
    transition: 0.3s;
    }
    
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
    color: #f1f1f1;
    }
    
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }
    
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #main {
    transition: margin-left .5s;
    padding: 20px;
    }
    

#menu{
    border: 10px solid #111; /*anchura, estilo y color borde*/
    padding: 5px; /*espacio alrededor texto*/
    background-color: #111; /*color botón*/
    color: #d9d9d9; /*color texto*/
    text-decoration: none; /*decoración texto*/
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    cursor: pointer;
    top: 10px;
    position: fixed;
    right: 0;
    margin: 10px;
}

#PPAL{
  background-image: url(FONDO\ STEM\ \(2\).png);
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
  background-color: #00000065;
  height: 590px;
  width:100%;
  margin-bottom: 50px;
}
#titulo{
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
  font-weight: bolder;
  margin-top: auto;
  margin-bottom: auto;
  color: #e2e2e2;
  border-bottom: none;
  background-color: #e2e2e2;    
}